{% extends 'base.html' %}
{% block body %}
<form action="/login/" method="POST">
{% csrf_token %}
  <div class="container">
    <div class="form-group">
      <label for="phone">Enter Mobile No.</label>
      <input type="text" class="form-control" name="phone" id="phone" Required>
    </div>

    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" name="password" id="exampleInputPassword1">
    </div>

    <button type="submit" class="btn btn-primary mt-2">Submit</button>
</form>
</div>
{% endblock body %}